@model RedeSocial.Domain.Entities.ProfileDetails

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Profile Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProfileId" />
            <div class="form-group">
                <label asp-for="Aniversario" class="control-label"></label>
                <input type="date" asp-for="Aniversario" class="form-control" />
                <span asp-validation-for="Aniversario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPele" class="control-label"></label>
                <input asp-for="TipoPele" class="form-control" />
                <span asp-validation-for="TipoPele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCabelo" class="control-label"></label>
                <input asp-for="TipoCabelo" class="form-control" />
                <span asp-validation-for="TipoCabelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorPele" class="control-label"></label>
                <input asp-for="CorPele" class="form-control" />
                <span asp-validation-for="CorPele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorCabelo" class="control-label"></label>
                <input asp-for="CorCabelo" class="form-control" />
                <span asp-validation-for="CorCabelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
